body{
 background-color: rgb(116, 99, 244);
}

body {
    background-color:rgb(122, 151, 247);
}
#img{
    width:500px;
    height: 320px;
    position: relative;
   top:50px;
   border-radius: 25px;

}
#h1{
    text-align: center;
    color: purple;
}

#contact{
    color:blueviolet;
    text-align: center;
    position: relative;
    top: 100px;
}
.div{
place-items: center;
display: grid;
height:50vh;
}


#about-h2{
 text-align: center;
 color: blueviolet;
}
#about{
   text-align: center;

}
#copy{
    text-align: center;
 position: relative;
 bottom: -200px;
 font-size:x-large;
 color: rgb(245, 144, 144);
}





#about{
    color: blueviolet;
    font-size: x-large;
    font-weight: 500;
}
